* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    padding: 1rem;
}

td {
    width: 32px;
    height: 32px;
    font-size: x-large;
    background-color: rgb(236, 236, 236);
    text-align: center;
    color: #111;
}

input[type="button"] {
    border-radius: 5px;
    padding: 3px 7px;
    font-size: large;
    display: block;
    background-color: rgb(236,236,236);
    color: #111;
    border: none;
    margin: 20px 20px;
}

#counters {
    float: inline-end;
    text-align: right;
}

#fields {
    display: inline;
}

#cheatbtn {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.n1 {
    color: blue;
}

.n2 {
    color: green;
}

.n3 {
    color: red;
}

.n4 {
    color: purple;
}

.n5 {
    color: brown;
}

.n6 {
    color: teal;
}

.n7 {
    color: black;
}

.n8 {
    color: gray
}

.peeking {
    background-color: rgba(255, 255, 255, 0.35);
}

.revealed {
    background-color: rgb(196,196,196);
}

.mine {
    background-color: rgb(255, 135, 135);
    font-size: x-large;
}

table {
    margin: auto auto 75px auto;
}

.fasz {
	background-color: rgb(100, 100, 100);
}